<div class="container">
  <div class="wrapper col-md-12 col-sm-12">
    <p id="notice"><%= notice %></p>
      <h1>作成したタスク</h1>
        <p><%= link_to "作成したタスク", user_tasks_path(current_user.id) %> | 
        <%= link_to "依頼したタスク", user_submit_requests_path(current_user) %> | 
        <%= link_to '自分に依頼されているタスク', inbox_user_submit_requests_path %></p>
        <p><%= link_to '(1)タスクの作成', new_user_task_path(@user) %> | 
        <%= link_to "(2)作成したタスクで依頼", new_user_submit_request_path %></p>

      <div class="task">
        <table class="task">
          <thead>
            <tr>
              <th>タスク#</th>
              <th>登録者</th>
              <th>タイトル</th>
<!--              <th>内容</th>-->
              <th>期日</th>
              <th>担当者ID</th>
              <th>進捗</th>
              <th>状態</th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <% if task.user_id == current_user.id %>
                  <td><%= task.user.name %>(自分)</td>
                <% else %>
                  <td><%= task.user.name %></td>
                <% end %>
                <td><%= task.title %></td>
<!--                <td><%= task.content %></td>-->
                <td><%= task.deadline.strftime("%y/%m/%d") %></td>
                <td><%= task.charge_id %></td>
<!--                <td><%= task.status == 1? "1:対応中" : "0:未着手(未依頼)" %></td>-->
                <% if task.status == 0 %>
                  <td><%= "0:未着手(未依頼)" %></td>
                  <% elsif task.status == 1 %>
                  <td><%= "1:未承認" %></td>
                  <% elsif task.status == 8 %>
                  <td><%= "8:取消済" %></td>
                  <% elsif task.status == 9 %>
                  <td><%= "9:却下" %></td>
                <% end %>
                <td><%= if task.done? then "完了" else "未完了" end %></td>
                <td><%= link_to '詳細', user_task_path(task.user, task) %> | 
                  <%= link_to '編集', edit_user_task_path(task.user, task) %> | 
                  <%= link_to '削除', user_task_path(task.user, task), method: :delete, data: { confirm: '本当にタスクを削除しますか？　タスク自体が削除され、リストから消えます。' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="task">※まず「(1)タスクの作成」を押下して、新規タスクを作成しましょう。<br>
        ※新規タスクが作成できたら、「(2)作成したタスクで依頼」を押下して、相手にタスクを依頼しましょう。<br>
        ※取消したタスクでも、「編集」し直すと再度依頼することができるようになります。<br>
        ※作成したタスクは「削除」を押下すると、タスク自体が削除され、リストから消えます。</p>
      </div>

  </div>
</div>
